# ==============================================================
# BACKEND API
# ==============================================================
VITE_API_URL='your backend api url'

# ==============================================================
# OAUTH CLIENT IDS (Google / GitHub)
# ==============================================================
VITE_GOOGLE_CLIENT_ID='your google client id'
VITE_GITHUB_CLIENT_ID='your github client id'

# ==============================================================
# WEBCONTAINER
# ==============================================================
VITE_WEBCONTAINER_API_CLIENT_ID='your webcontainer api client id'
