gitrepo_rules.txt
.env
phase1-scope.md

backend/.env

phase2-scope.md

backend/db.sqlite3
db.sqlite3db.sqlite3

idea.txt

module.md

frontend-scope.txt

future.txt
plan.md
.todo

localhost+2-key.pem
localhost+2.pem

if-login-fails-vite.config.ts
host-plan.md
future.txt

